Web/node_modules
Web/public/build
Web/public/hot
Web/public/storage
Web/storage/*.key
Web/vendor
Web/.env
Web/.env.backup
Web/.env.production
Web/.phpunit.result.cache
Web/Homestead.json
Web/Homestead.yaml
Web/auth.json
Web/npm-debug.log
Web/yarn-error.log
/.fleet
/.idea
/.vscode
